bump2version
wheel
watchdog
tox
coverage
Sphinx
twine
grip
black
flake8

pytest
pytest-runner

xarray
netCDF4
zarr
dask[complete]
dask[distributed]
bokeh>=2.4.2
scipy
pint
pint-pandas
pint-xarray
timezonefinder[numba]
codetiming

hydroutils